<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Excel Js</h1>
            <div>
                <p class="text-justify">
                    Typically, if you wanted to automate a process in
                    exce, you would turn to Visual Basics for Applications, VBA,
                    to create scripts to automate your workflow.
                    <br />
                    <br />
                    Now, you have the additional option of using the Excel JS API -
                    that allows you to run scripts in Excel, the calculation and logic
                    performed in Javascript and the user interface created in HTML & CSS.
                    <br />
                    <br />
                    In my tutorial, i have created an overview of how to create a commnet 
                    userinterface in excel that highlights many of the features. 
                </p>

                <a href="/excel/tutorial">Tutorial...</a>
            </div>
        </div>
        
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>